.portal{
    color: gray;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0px;
}
.forms{
    margin-top: 30px;
}
.butt{
    display: block;
    height: 40px;
    width: 70px;
    border-color: whitesmoke;
    background-color: gray;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 40px;
    color: white;
}
.butt :hover{
    transform: scale(1.1);
}
.explor{
    display: block;
    margin-left: auto;
    height: 45px;
    width: 120px;
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    color: gray;
    font-family: 'Mouse Memoirs',sans-serif;
    letter-spacing: 1px;
    border-color: gray;
    margin-top: 1%;
    margin-inline-end: 9%;
}
.explor:hover{
    transform: scale(1.2);
    background-color: transparent;
    color: white;
    border-color: white;
    transition: 0.5s;
}