body{
    box-sizing: border-box;
    margin: 0 0 0 0;/*
    background: #eb01a5;
    background-image:url("./pictures/pexels-taryn-elliott-3889991.jpg");
    background-image:url("./pictures/pexels-taryn-elliott-3889991.jpg"),linear-gradient(#eb01a5, #d13531);
    background-size: 2000px 800px;
    background-repeat: no-repeat;*/
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(30, 77, 70, 0.73)),
    url(./pictures/pexels-taryn-elliott-3889991.jpg);
    background-size: cover;
}
.container{
    display: grid;
    grid-template-rows: 100px,repeat(3,1fr),50px;

}
.nav_1{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_1 > h1{
    margin-left: 10px;
    font-family: 'Stylish', sans-serif;
    color: GRAY;
}
.nav_1 > img{
    height: 40px;
}
.nav_m{
grid-row: 2/3;
}
.primary-navigation{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;;
    margin: 0;
}
.primary-navigation a{
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-family: 'Stylish', sans-serif;
}
.primary-navigation a:hover{
  font-size: 29px;
  color: rgb(94, 93, 93);
  border-bottom:1px;
  padding-bottom: 10px;
}

.footer{
    height: 100px;
    width:100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer_icons{
    display: flex;
    height: 30px;
    justify-content: center;
    gap: 50px;
}
.footer >p{
    display: flex;
    margin-top: 2em;
    justify-content: center;
    color: rgb(194, 173, 173);
    font-size: 12px;
}
.text{
    
}