body{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-rows: 100px,repeat(3,1fr);

}
.nav_1{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_1 > h1{
    margin-left: 10px;
    
}