body{
    box-sizing: border-box;
    margin: 0 0 0 0;
}
.container{
    display: grid;
    grid-template-rows: 100px,repeat(3,1fr),50px;

}
.nav_1{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_1 > h1{
    margin-left: 10px;
    font-family: 'Stylish', sans-serif;
}
.nav_1 > img{
    height: 40px;
}
.nav_m{
grid-row: 2/3;
}
.primary-navigation{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
.primary-navigation a{
    text-decoration: none;
}
.footer{
    position: absolute;
    bottom: 0px;

}
.footer_icon{
    display: flex;
    height: 30px;
    gap: 50px;
}
.footer >p{
    display: flex;
    margin-left: 80px;
    color: gray;
    font-size: 12px;
}